services:
  - type: web
    name: odabnote
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.7
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: CLOUDINARY_URL
        sync: false
      - key: MATHPIX_APP_ID
        sync: false
      - key: MATHPIX_APP_KEY
        sync: false
